@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    option {
        @apply m-2 bg-main;
    }
    h2 {
        @apply text-xl text-[#a5a5a5] border-b-2 py-3 mb-8 border-border;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}